
.mystyle{
    width: 80px;
    height: 80px;
    background-color: blue;
    color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#myblock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.fizzbuzz{

    background-color: rgb(85, 255, 0);
}
.tree{
    background-color: rgb(255, 0, 200);
}


.five{
    background-color: rgb(255, 102, 0);
}

